/*
 *  Font
 */
 
@font-face
	font-family: "calibre_light"
	src: url('../fonts/Calibre-Light.otf')
@font-face
	font-family: "calibre_medium"
	src: url('../fonts/Calibre-Medium.otf')
@font-face
	font-family: "calibre_semibold"
	src: url('../fonts/Calibre-Semibold.otf')
@font-face
	font-family: "trade_goth"
	src: url('../fonts/TradeGothicLTStd-BdCn20.otf')
@font-face
	font-family: "Socicon"
	src: url('../fonts/socicon.eot?1436280646') format('embedded-opentype'), url('../fonts/socicon.svg?1436280646') format('svg'), url('../fonts/socicon.ttf?1436280645') format('truetype'), url('../fonts/socicon.woff?1436280645') format('woff'), url('../fonts/socicon.woff2?1436280645') format('woff2')
	
body
	font-family: 'calibre_light', Helvetica, Arial, sans-serif
	font-size: 18px
	line-height: normal
	color: $c_black
	@media (max-width: $med_b)
		font-size: 14px


.calibreL_small
	font-family: 'calibre_light'
	font-size: 0.875em

.calibreL_med
	font-family: 'calibre_light'
	font-size: 1.125em

.calibreM_small
	font-family: 'calibre_medium'
	font-size: 0.875em

.calibreM_med
	font-family: 'calibre_medium'
	font-size: 1.125em

.calibreM
	font-family: 'calibre_medium'

.calibreL
	font-family: 'calibre_light'
	
.trade
	font-family: 'trade_goth'
	font-size: 1em

.trade_small
	font-family: 'trade_goth'
	font-size: 0.875em

.trade_med
	font-family: 'trade_goth'
	font-size: 1.25em

.trade_big
	font-family: 'trade_goth'
	font-size: 3em



